[submodule "contrib/deterministic-build/electrum-cesc-locale"]
	path = contrib/deterministic-build/electrum-cesc-locale
	url = https://github.com/ds650/electrum-cesc-locale
[submodule "contrib/CalinsQRReader"]
	path = contrib/osx/CalinsQRReader
	url = https://github.com/spesmilo/CalinsQRReader
[submodule "electrum_cesc/www"]
	path = electrum_cesc/www
	url = https://github.com/ds650/electrum-cesc-http.git
